/* ---- Header ---- */
.header-wrap {
  @extend .clearfix; padding: rem(15px) 0; position: relative; min-height: 78px; position: fixed; top: 0; right: 0; left: 0; z-index: 2; background: $white;

  @include max(xs){ padding: rem(10px) 0; min-height: 55px;}
}

// Logo
.header-logo {
  float: left; width: 187px; display: block; margin-top: rem(8px); text-decoration: none;
  @include max(xs){ width: 150px; margin-top: rem(5px);}
}

// Nav
.header-nav-block {
  @include min(md){ display: block !important; float: right;}
  @include max(sm){ display: none; position: fixed; top: 55px; background: $white; bottom: 0; left: 0; right: 0; z-index: 3; border-top: 1px solid $light-blue; padding: rem(20px) rem(15px);}

  &.active {
    display: block;
  }
}
.header-nav {
  float: left; margin-top: rem(12px);
  @include max(sm){ float: none; margin-top: 0;}

  ul {
    margin-bottom: 0;
    li {
      float: left;
      @include max(sm){ float: none; display: block;}
      &:not(:last-child) {
        margin-right: rem(28px);
        @include max(sm){ margin-right: 0; margin-bottom: rem(15px);}
      }
      a {
        color: $tertiary; font-size: rem(14px); font-weight: 400; display: block;
        @include max(sm){ font-size: rem(16px);}

        &:hover, &:focus { color: $primary; text-decoration: none;}
      }
    }
  }

  // Account
  +.account-nav {
    margin-left: rem(54px);
    @include max(sm){ margin-left: 0; margin-top: rem(25px);}
  }
}

// Account
.account-nav {
  float: left; margin-bottom: 0;
  @include max(sm){ float: none;}
  li {
    float: left;
    @include max(xs){ float: none; display: block;}
    &:not(:last-child) {
      margin-right: rem(14px);
      @include max(xs){ margin-right: 0; margin-bottom: rem(10px);}
    }

    .btn {
      @include max(xs){ width: 100%;}
    }

  }
}
